.app {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  margin-bottom: 100px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.rbc-calendar {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
